<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
<a class="navbar-brand" href="/">
    <h2>SideJobs</h2>
  </a>
<form class="form-inline">
	<i class="fa fa-user fa-2x " style="color:white;" aria-hidden="true"></i>
    <a class="nav-link" href="#" th:text="${username}"></a>
    <button class="btn btn-outline-light mr-sm-3" type="button"> <i class="fa fa-comments-o fa-1x " style="color:white" aria-hidden="true"></i> Messages <span class="badge badge-light">4</span></button>
    <button class="btn btn-outline-light mr-sm-3" type="button" aria-lable="Forms"><i class="fa fa-wpforms fa-1x " style="color:white" aria-hidden="true"></i> Post A Job</button>
    <button class="btn btn-outline-light mr-sm-3" type="button" aria-lable="Forms"><i class="fa fa-wpforms fa-1x " style="color:white" aria-hidden="true"></i> Help</button>
  </form>
</nav>
