<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="layout/site-header">
      <title>SideJobs - Worker Registration</title>
   </head>
<body>
<div th:replace="layout/site-navigation"></div>
	<div class="container">
		<br/><br/>
		<div class="row justify-content-md-center">
			<div class="col-sm-8 col-md-8">
				<div class="card text-center">
  					 <div class="card-body">
    					<h4 class="card-title">Please Check Your Email</h4>
    					<p class="card-text">To complete your account creation request, please check the email you used during the account creation process to complete your registration.</p>
  					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>