<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="layout/site-header">
      <title>SideJobs - Worker Registration</title>
   </head>
<body ng-app="jobPostApp" ng-controller="jobPostCtrl">
<div th:replace="layout/site-navigation"></div>
	<div class="container">
		<br/><br/>
		<div class="row justify-content-md-center">
			<div class="col-sm-8 col-md-8">
				<h1>Post a new job listing</h1>
				<form>
					<br/><br/>
					<div class="form-group">
						<label class="site-font-small" for="exampleFormControlTextarea1">Job Headline</label>
  						<input ng-model="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="sizing-addon1" autofocus="true"/>
					</div>
					<br/>
					<div class="form-group">
    					<label class="site-font-small" for="exampleFormControlTextarea1">Description</label>
    					<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  					</div>
  					<br/>
  					 <div class="form-group">
    					<label for="exampleFormControlFile1">Example file input</label>
    					<input type="file" class="form-control-file" id="exampleFormControlFile1"/>
  					</div>
  					<br/>
  					<button type="button" class="btn btn-primary btn-lg">Continue <i class="fa fa-arrow-right  fa-1x " style="color:white" aria-hidden="true"></i></button>					
				</form>
			</div>
		</div>
	</div>
<script src="/js/jobs/post/new-job-post-form-2.js"></script>
</body>
</html>