<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="layout/site-header">
      <title>SideJobs - Worker Registration</title>
   </head>
<body ng-app="jobPostApp" ng-controller="jobPostCtrl">
<div th:replace="layout/site-navigation"></div>
	<div class="container">
		<br/><br/>
		<div class="row justify-content-md-center">
			<div class="col-sm-8 col-md-8">
				<h1>Post a new job listing</h1>
				<i class="fa fa-asterisk" style="color:red" aria-hidden="true"> - Required fields are marked with this symbol</i> 
				<form>
					<br/><br/>
					<div class="form-group">
						<label class="site-font-small" for="exampleFormControlTextarea1">Add a Job headline</label><i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i>
  						<input ng-model="email" type="email" class="form-control" placeholder="Web Developer specializing in Bootstrap based site designs" aria-label="Email" aria-describedby="sizing-addon1" autofocus="true"/>
					</div>
					<br/>
					<div class="form-group">
    					<label class="site-font-small" for="exampleFormControlTextarea1">Write a good Job description </label><i class="fa fa-asterisk" style="color:red" aria-hidden="true"></i>
    					<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  					</div>
  					<br/>
  					 <div class="form-group">
    					<label class="site-font-small">Add Images ({{imagesCount}}/{{imagesMax}})</label>
    					<div class="row justify-content-around">
    					   <div class="image-upload  col-3">
   						 		<label for="file-input-1">
     					   			<img ng-src="{{images[0]}}" id="photo-id" class="img-thumbnail"/>    					   
    							</label>
    							<input type="file" onchange="angular.element(this).scope().uploadFile(this,0)" class="form-control-file" id="file-input-1"/>
							</div>
							  <div class="image-upload col-3">
   						 		<label for="file-input-2">
        							<img ng-src="{{images[1]}}" id="photo-id" class="img-thumbnail"/>    					   
    							</label>
    							<input type="file" onchange="angular.element(this).scope().uploadFile(this,1)" class="form-control-file" id="file-input-2"/>
							</div>
							  <div class="image-upload col-3">
   						 		<label for="file-input-3">
        							<img ng-src="{{images[2]}}" id="photo-id" class="img-thumbnail"/>    					   
    							</label>
    							<input type="file" onchange="angular.element(this).scope().uploadFile(this,2)" class="form-control-file" id="file-input-3"/>
							</div>
							<div class="image-upload col-3">
   						 		<label for="file-input-4">
        							<img ng-src="{{images[3]}}" id="photo-id" class="img-thumbnail"/>    					   
    							</label>
    							<input type="file" onchange="angular.element(this).scope().uploadFile(this,3)" class="form-control-file" id="file-input-4"/>
							</div>					
    					</div>
    					<br/><br/>
    					<div class="card text-center">
    					 <div class="card-header">
    							<h3 class="site-font-small">Choose your availability</h3>
  							</div>
  							<div class="card-body">
    							<br/>   					
								<table class="table table-responsive">
									<thead>
										<tr>
											<th><i class="fa fa-calendar-o fa-1x " style="color:black" aria-hidden="true"></i> Day</th>
											<th><i class="fa fa-clock-o fa-1x " style="color:green" aria-hidden="true"></i> Begin</th>
											<th><i class="fa fa-clock-o fa-1x " style="color:red" aria-hidden="true"></i> End</th>
										</tr>
									</thead>
										<tr>
											<td>Monday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker1" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker1" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker2" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker2" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
										<tr>
											<td>Tuesday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker3" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker3" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker4" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker4" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
										<tr>
											<td>Wednesday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker5" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker5" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker6" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker6" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
											<tr>
											<td>Thursday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker7" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker7" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker8" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker8" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
										<tr>
											<td>Friday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker9" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker9" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker10" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker10" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
										<tr>
											<td>Saturday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker11" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker11" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker12" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker12" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
											<tr>
											<td>Sunday</td>
											<td><div class="input-group" moment-picker="ctrl.timepicker13" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker13" ng-model-options="{ updateOn: 'blur' }"/></div></td>
											<td><div class="input-group" moment-picker="ctrl.timepicker14" format="HH:mm"><span class="input-group-addon"><i class="octicon octicon-clock"></i></span><input class="form-control" placeholder="Select a time" ng-model="ctrl.timepicker14" ng-model-options="{ updateOn: 'blur' }"/></div></td>
										</tr>
								</table>
  							</div>
						</div>
  					</div>
  					<br/>
  					<button type="button" class="btn btn-primary btn-lg">Continue <i class="fa fa-arrow-right  fa-1x " style="color:white" aria-hidden="true"></i></button>
  					<br/>
  					
				</form>
			</div>
		</div>
	</div>
<script src="/js/jobs/post/new-job-post-form-2.js"></script>
</body>
</html>