<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="layout/site-header">
      <title>SideJobs - Worker Registration</title>
   </head>
<body  ng-app="loginApp" ng-controller="loginCtrl">
<div th:replace="layout/site-navigation"></div>
<div class="container">
		<br/><br/>
		<div class="row justify-content-md-center">
			<div class="col-sm-5 col-md-5">
				<h3>Login</h3>
				<br/>
				<div class="input-group input-group-lg">
  					<input ng-model="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="sizing-addon1" autofocus="true"/>
				</div>
				<br/>
				<div class="input-group input-group-lg">
  					<input ng-model="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="sizing-addon1"/>
				</div>
					<br/>	
				<button type="button" class="btn btn-success border-dark" ng-click="submit()"><i class="fa fa-check fa-1x " style="color:white" aria-hidden="true"></i> Submit</button>     <button type="button" class="btn btn-light border-dark" ng-click="clear()"><i class="fa fa-close fa-1x " style="color:black" aria-hidden="true"></i> Clear</button>
				<br/><br/>
				<a href="#">Forgot password</a>
				<br/><br/>
				<div ng-model="category_alert" ng-hide="hideError" class="alert alert-danger" role="alert">
					<i class="fa fa-info-circle fa-1x " aria-hidden="true"></i> {{error_message}}
				</div>
				<div ng-model="loading_bar" ng-hide="hideLoading" class="progress">
  					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><strong>Please wait...</strong></div>
				</div>								
			</div>
		</div>
	</div>

<script src="/js/login.js"></script>
</body>
</html>